<div>
  <p class="title">Log In</p>
  <form [formGroup]="loginInForm" (ngSubmit)="logIn()">
    <input type="email" name="email" formControlName="email" />
    <input type="password" name="password" formControlName="password" />
    <br />
    <button type="submit" class="">Log In</button>
  </form>
</div>
<button type="button" class="btn btn-primary" (click)="AddDataRecord()">
  Add Data
</button>
<button type="button" class="btn btn-primary" (click)="showAction()">
  Show Action
</button>
<app-data-table
  [tableData]="sendTableData"
  [columnArray]="headerTableData"
  [showActionBtn]="showActionBtn"
  (onEdit)="getEditItem($event)"
  (onDelete)="getDeleteItem($event)"
></app-data-table>
<a routerLink="/profile">Profilea</a>
