<div class="parent">
  <div class="container">
    <div class="title">Forgot Password</div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="user__details">
        <div class="input__box">
          <small class="text-normal"
            >Enter the email address associated with your account, and we'll
            send you a link to reset your password.</small
          >
          <input
            type="email"
            placeholder="Enter your email address"
            formControlName="email"
          />
          <div
            *ngIf="
              forgotPasswordForm.get('email')?.invalid &&
              (forgotPasswordForm.get('email')?.dirty ||
                forgotPasswordForm.get('email')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >Email is required</small
            >
            <small
              class="text-danger"
              *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
              >Invalid email format</small
            >
          </div>
        </div>
      </div>
      <div class="button">
        <input
          type="submit"
          value="Reset Password"
          [disabled]="forgotPasswordForm.invalid"
        />
      </div>
    </form>
  </div>
</div>
