<p>parent works!</p>
<app-child [title]="'hello'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
      <!-- ng container is imaginerr thing we have which we can use to write prograiimng & also use for use multiple directive for single line means want use ngif & ngfor for same  -->
      <ng-container *ngIf="!isLoading">
        <tr>
          <th scope="row">4</th>
          <td colspan="2">Ling cow nimg</td>
          <td>sony</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="isLoading">
        <tr>
          content is loading
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </tr>
      </ng-container>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">Lsfs ddow isafg</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</app-child>
<div class="container">
  <div *ngTemplateOutlet="dummycontent"></div>
</div>

<!-- ng template data not shown untill we project it from somewhere -->

<ng-template #dummycontent>
  ng template logic
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

<!-- element ref & render 2 -->
<div class="contanier">
  <div class="card">
    <div>Hii</div>
    <button type="button" class="btn btn-primary" appSample>Primary</button>
  </div>
</div>

<div class="container">
  <app-mybtn
    [btnClass]="'btn btn-primary'"
    [text]="'Hiii there'"
    (onBtnClick)="getData(smpdata)"
  >
  </app-mybtn>
</div>
<div class="container">
  <button appMytooltip [appTooltip]="'hello there'">MY BTN</button>
</div>

<!-- <div class="container">
  <button appMytooltiptemplate [appToolTemp]="tooltemp">Temp</button>
</div> -->
<ng-template #tooltemp>
  <div>Hii</div>
  <div>
    <button>Hii sss</button>
  </div>
</ng-template>
