<div class="parent">
  <div class="container">
    <div class="title">
      {{
        token
          ? "Reset Password"
          : "Your reset password link is expired or invalid"
      }}
    </div>
    <form *ngIf="token">
      <div class="user__details">
        <div class="input__box">
          <input
            type="password"
            placeholder="Enter New Password"
            name="Password"
            [(ngModel)]="newPassword"
          />
          <small class="text-danger" *ngIf="passwordValidator()">
            Password must be at least 8 characters long ,must contain at least
            one uppercase letter, one lowercase letter, one number, and one
            special character
          </small>
        </div>
      </div>
      <div class="button">
        <input
          type="submit"
          value="Reset Password"
          [disabled]="passwordValidator()"
          (click)="resetPasswordClick()"
        />
      </div>
    </form>
  </div>
</div>
